nav.responsive-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  text-shadow: 0 0 5px #555, 1px 1px #111;
  border-collapse: separate; // Need to use for box-shadow to work on IE9+
  box-shadow: 2px 2px 2px #ccc;
  figure {
    display: inline-block;
    width: 60px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    @supports (margin-block-end: 9px) {
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-block-start: 0;
      margin-block-end: 9px;
    }
    pointer-events: all;
    cursor: pointer;
    img {
      transition: transform 300ms ease-in-out;
      &.logo-roll {
        transform: rotate(120deg);
      }
    }
  }
  h1 {
    display: inline-block;
    line-height: 60px;
    text-align: center;
    color: white;
  }
  ul {
    position: fixed;
    width: 250px;
    height: 100vh;
    height: calc(100vh - 120px);
    margin: 0;
    padding: 0;
    left: -190px;
    top: 60px;
    @include flexbox();
    @include flex-direction(column);
    border-collapse: separate;
    box-shadow: 2px 2px 2px #ccc;
    transition: all 300ms ease-in-out;
    &.active {
      left: 0;
    }
    li {
      width: 100%;
      list-style-type: none;
      border-radius: 5px;
      border-collapse: separate;
      box-shadow: 0 0 0 0 #999;
      transition: box-shadow 300ms ease;
      &:hover {
        box-shadow: 0 0 5px 0 #333;
      }
    }
    a {
      @include flexbox();
      @include flex-direction(row);
      width: 100%;
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      font-size: 25px;
      // FIX THIS --------------------------------------------
      justify-content: space-between; // Not supported in IE.
      // ------------------------------------------ FIX THIS //
    }
  }
}

@media screen and (min-width: 1024px) {
  // Display the mobile version if the browser doesn't support grid (i.e. IE)
  @supports (grid-template-columns: 60px 0 1fr) and (justify-self: flex-end) {
    nav.responsive-nav {
      display: grid;
      grid-template-columns: 60px 0 1fr;
      align-items: center;
      justify-content: center;
      figure {
        pointer-events: none;
        margin-block-end: 0;
      }
      ul {
        position: static;
        height: 60px;
        width: auto;
        @include flexbox();
        @include flex-direction(row);
        justify-self: flex-end;
        align-items: center;
        li {
          width: auto;
          list-style-type: none;
          border-radius: 5px;
        }
        a {
          @include flex-direction(row-reverse);
          padding: 10px;
        }
        i {
          margin-right: 5px;
        }
      }
    }
  }
}